<html>

    <head>
        <%- include('partials/head') %>
        <title>Inicio</title>
    </head>

    <body>

        <%- include('partials/navbar') %>

        <div class="content">
            
            <%- include('partials/header') %>

            <main class="container">
                <div class="bg-light p-5 rounded">
                    <h1>Bienvenido</h1>
                    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed libero sequi tempore
                        porro quam veritatis aliquam. Nihil iusto labore, aspernatur voluptas quis animi? Dolores,
                        libero! Rem ex quod saepe similique!</p>
                    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed libero sequi tempore
                        porro quam veritatis aliquam. Nihil iusto labore, aspernatur voluptas quis animi? Dolores,
                        libero! Rem ex quod saepe similique!</p>
                    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed libero sequi tempore
                        porro quam veritatis aliquam. Nihil iusto labore, aspernatur voluptas quis animi? Dolores,
                        libero! Rem ex quod saepe similique!</p>

                    <a class="btn btn-lg btn-primary" href="/admin" role="button">Ir a Administrar</a>
                </div>
            </main>
        </div>

        <%- include('partials/footer') %>

    </body>

</html>